:root {
  background-color: #F2F2F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F2F2F2;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar {
  width: 18vw;
  height: 100%;
  background-image: url("/sidebar-bg.png");
  background-repeat: no-repeat;
  position: fixed
}

.sidebar-content {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90%;
}

.container {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  height: 100%;
  width: 72%;
  opacity: 85%;
  border-radius: 5px;
  text-align: start;
  padding: 20px;
  margin-left: 20%;
  margin-top: 10%;
}

.selection {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  font-weight: 700;
}

.selection-slider {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  font-weight: 700;
}

.pagination {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

ul {
  padding: 0%;
}

li {
  list-style-type: none;
  padding: 7px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.slider-container {
  display: flex;
  font-weight: 700;
  flex-direction: column;
  column-gap: 60px;
  padding: 10px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

.button-menu {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  border: 1px solid #c3d5f1;
  background-color: #FFFFFF;
  width: 12%;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.button-menu.active {
  background-color: #a4b0bd !important;
  border: none;
  color: #fff !important;
}

.button-menu:hover {
  background-color: #d2dbe4;
  border: none;
  color: #fff;
}

hr {
  border: 1px solid #F2F2F2;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.homepage {
  height: 100vh;
}