:root {
  background-color: #F2F2F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F2F2F2;
  width: 100vw;
  height: 100%;
  margin: 0%;
  font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar {
  width: 20vw;
  height: 100%;
  background-image: url("/sidebar-bg.png");
  background-repeat: no-repeat;
  position: absolute
}

.sidebar-content {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90%;
}

.container {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  height: 70%;
  width: 65%;
  opacity: 85%;
  border-radius: 5px;
  text-align: start;
  padding: 20px;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table-container, .map-container {
  margin-top: 40px !important;
}

.selection {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.pagination {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}