.sidebar {
  width: 20vw;
  height: 100vh;
  background-image: url("/sidebar-bg.png");
  background-repeat: no-repeat;
  position: absolute
}

.sidebar-content {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90%;
}

body {
  background-color: #F2F2F2;
  width: 100vw;
  height: 100%;
  margin: 0%;
  font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.graph-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  height: 82%;
  width: 65%;
  opacity: 85%;
  border-radius: 5px;
  text-align: start;
  padding: 20px;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.selection {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

ul {
  padding: 0%;
}

li {
  list-style-type: none;
  padding: 7px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.sidebar-content ul li.active {
  background-color: black !important;
  border: 1px solid black !important;
  color: white;
}

.sidebar-content ul li:hover {
  background-color: #28344d;
  opacity: 20%;
  width: 100%;
}